/*utility*/
.preWhiteSpace{
    white-space: pre-wrap;
}

body{
    background-image: linear-gradient(to bottom right, #1B262C, #0F4C75, #00B7C2);
    min-height: 100vh;
}
.title{
    margin : 10rem 0 0rem 0;
    animation: intro-slide 0.6s ease-out forwards;
}
.title > span{  
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style:bold;
    font-size: 3.5rem;
    color: white;
    letter-spacing: 1rem;;
}
.title > svg {
    position : relative;
    transform:scale(0.7);
    
}
.main{
    width : 70%;
    margin : auto;
}
.tag{  
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style:bold;
    color: white;
    /* margin: 0.9rem 0 0 0; */
    animation: intro-slide 0.8s ease-out 0.8s backwards;
    letter-spacing: 0.3rem;
}
.description {
    margin : 7rem 0 0 0;
    color : white;
    font-size: 1.5rem;
    animation : fade-in 0.5s ease-out 0.3s backwards;
}
.headingCtaButtons{
    margin-top: 2rem;
    display: flex;
    animation : fade-in 0.5s ease-out 0.5s backwards;
}
.ctaButton{
    color : white;
    padding : 0.5rem;
    /* background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.032), rgba(255, 255, 255, 0.218)); */
    border-radius : 0.5rem;
    margin-right :0.5rem;
}
.login{

}
.createAccount{
    background-color: rgba(0, 162, 255, 0.771);
}
.createAccount:hover{
    background-color: rgb(0, 162, 255);
    cursor: pointer;
}
@keyframes intro-slide {
    0% {
        opacity : 0;
        transform : translateX(-3%);
    }
    100% {
        opacity:1;
        transform: translateX(0);
        filter : blur(0);
    }
}
@keyframes fade-in {
    0% {
        opacity : 0;
    }
    100%{
        opacity:1;
    }
}