.divider{
    width:100%;
    height:1px;
    background-color: rgba(255,255,255,0.1);
    margin: 1rem 0 3rem 0;
}

.profilePageContainer{
    position:relative;
    z-index: 0;
}

.background{
    background-color: rgb(24,24,24);
    margin : 0; padding : 0;
    min-height: 100dvh;
}
.profilePageSection{
    width : 60rem; max-width: 100%; margin:auto; height:fit-content;
    display:flex; flex-direction: column; align-items: center;
    position: relative; z-index: 1;
    /* background-color: rgba(255, 255, 255, 0.016); */
    border-radius:1rem 1rem 0 0;
}
.marginAtTop{
    width:100%;
    height : 6rem;
}
.profilePage{
    width:100%;
    /* background-color: rgba(255,255,255,0.5); */
}

.pageHeader{
    display:flex;
    margin:auto;
    /* background-color: rgb(63, 63, 63); */
}
.profilePicSection{
    /* width:50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height:13rem;
    margin:0 2rem 0 2rem;
    overflow: hidden;
    position:relative;
}
.profilePicSection > img {
    height:100%;
    width:100%;
    position:relative;
    z-index: 1;
}
.editPicOverlay{
    /* background-color: rgba(17, 66, 94, 0.2); */
    background-color: rgba(0,0,0, 0.5);
    height:100%; width:100%;
    position: absolute; z-index: 2;
    display:flex; justify-content: center; align-items: center;
    color:white;
    backdrop-filter: blur(0);
    transition : backdrop-filter 0.5s ease-out;
}
.pencilIcon {
    font-size: 1.5rem;
    transition : font-size 0.5s ease-out;
}
.editPicOverlay:hover{
    cursor: pointer;
    backdrop-filter: blur(0.3rem);
}
.editPicOverlay:hover .pencilIcon {
    font-size: 2rem;
}
.editPicOverlay > input {
    display : none;
}
.profileInfoSection{
    /* width: 70%; */
    width:42rem;
    /* background-color: blue; */
}
.userName{
    color:white;
    font-size: 1.5rem;
    font-family: 'Poppins';
}
.profileInfo{
    color: white;
    font-family: "Poppins";
    display:flex;
}
.profileInfo > span {
    margin: 0.5rem 1rem 0 0;
    font-size: 1.1rem;
}
.userBio{
    color:white;
    margin-top:1rem;
    font-family: "Source Sans 3";
    font-weight: 300;
    /* letter-spacing: 0.05rem; */
}
.userBioTextArea{
    color:white;
    margin-top:1rem;
    font-family: "Source Sans 3";
    font-weight: 300;
    background-color: rgba(0,0,0,0);
    resize: none;
    width:100%;
    height: fit-content;
}
.userBioTextArea::-webkit-scrollbar {
    display: none;
}
.editProfileButtonContainer{
    margin:1rem 0 1rem 0;
}
.editProfileButton{
    padding:0.5rem;
    color:white;
    font-family: "Poppins";
    background-color: rgba(0, 162, 255, 0.2);
    display:inline-block;
    border-radius: 0.5rem;
    cursor:pointer;
}
.editProfileButton:hover{
    background-color: rgba(0, 162, 255, 0.3);
}
.posts{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:0.5rem;
    width:100%;
    padding:0 1rem 0 1rem;
    box-sizing: border-box;
}