.background{ /* body */
    /* background-color: rgb(36,36,36); */
    background-color: rgb(24,24,24); /* all 24 */
    margin : 0; padding : 0;
    /* width: 100dvw; */
    min-height: 100dvh;
}
.savedPostsPageContainer{
    position:relative;
    z-index: 0;
}

.savedPostsSection{
    width:60rem; max-width:100%; height:fit-content; margin:auto;
    display:flex; flex-direction:column; align-items: center;
}
.marginAtTop{
    height:4rem; width:100%;
}
.savedPostsContainer{
    display:flex; align-items: center; flex-direction: column;
    width:100%;
}
.savedPostsHeader{
    padding:1rem; font-family:"Poiret One"; font-weight:600; letter-spacing: 0.1rem;
    color:white;
    width:fit-content;
}
.savedPosts{
    display : grid;
    grid-template-columns:1fr 1fr 1fr;
    /* gap:1rem; */
    gap:0.1rem;
    width:100%;
}

/* ERRORS AND WARNINGS */
.loadingCard{
    font-family: 'Open Sans';
    margin-top : 4rem;
    width : 28rem;
    background: linear-gradient(to right, rgba(255,255,255,0.03), rgba(255,255,255,0.04), rgba(255,255,255,0.03));
    padding:1rem;
    border-radius:0.4rem;
    /* border : 1px solid rgba(255, 255, 255, 0.195); */
    box-sizing: border-box;
    overflow: hidden;
}
.loadingCardHeader{
    position:relative; width:100%;
    height:1rem;
    margin-bottom:0.5rem;
}
.loading, .loadingShadow{
    width:100%;
    display: flex; justify-content: center; align-items: center;
    position : absolute; top:0; right:0;
    color:white;
}
.loading{
    z-index : 1;
}
.loadingShadow{
    z-index : 0; filter : blur(4rem);
    /* opacity : 0.3; */
}
.loadingCardBody{
    color : rgba(255,255,255,0.681);
}