.post{
    display: flex; flex-direction: column;
    color : white;
    margin-top: 2rem;
    border-radius: 0.4rem;
    /* background-color: rgba(255, 255, 255, 0.03); */
    background: linear-gradient(to right, rgba(255,255,255,0.03), rgba(255,255,255,0.04), rgba(255,255,255,0.03));
    backdrop-filter: blur(3rem);
    overflow: hidden;
    width : 28.5rem;
}
.postHeader {
    display: flex; align-items: center; margin-bottom: 0.8rem; justify-content: space-between; margin-top: 0.8rem;
    padding: 0 0.8rem 0 0.8rem;
}
.postInfo{
    display: flex; align-items: center;
}
.userProfilePicContainer{
    width: 2rem; height:2rem;
    border-radius: 50%; overflow: hidden;
    margin-right: 0.5rem;
}
.userProfilePic{
    height:100%; width:100%;
    object-fit: cover;
}
.postNameAndTime{
    /* margin-bottom:1rem; */
    display: flex; flex-direction: column;
}
.postUserName{
    font-family: 'Work Sans';
    font-weight: 400;

}
.timePosted {
    color : rgba(255, 255, 255, 0.568);
    font-size: 0.8rem;
    font-family: 'Open Sans';
}
.friendLevel{
    font-family: 'Poppins';
    letter-spacing: 0.1rem;
    /* font-weight: 600; */
    color: rgba(255, 255, 255, 0.681);
    /* filter: drop-shadow(0 0 0.5rem white) */
    text-shadow: 0 0 2rem rgba(255, 255, 255, 0.053);
    font-size: 0.8rem;
}
.postPic {
    /* width : 28.5rem; height : 38rem; */
    width : 28.5rem; height : 28.5rem;
    position : relative;
    border-radius: 0.5rem;
}
.postPic > img{
    width : 100%; height: 100%;
    object-fit: cover;
    position : absolute; left : 0; top:0;
    z-index : 2;
    border-radius: 0.3rem;
}
.postPic > img.shadowPic {
    filter : blur(4rem); opacity : 0.3;
    position : absolute; right: -1rem;
    z-index: 1;
}
.postFooter{

}
.postContentContainer{
    width:100%;
    display: flex; justify-content: center;
    margin-top:0.5rem;
}
.postContent{
    width : calc(100% - 1.6rem);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.03));
    padding:0.5rem;
    border-radius: 0.4rem;
    max-height: 3rem;
    font-family : "Open Sans"; font-size: 0.9rem;
    overflow-y: auto;
}
/* width of the scrollbar */
.postContent::-webkit-scrollbar {
    width: 0.4rem;
  }
  
  /* track (background) */
  .postContent::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border-radius: 10px;
  }
  
  /* thumb (the draggable part) */
  .postContent::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.095);
    border-radius: 10px;
  }
  
  /* thumb on hover */
  .postContent::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.681);
  }
.postActions{
    display: flex;
    justify-content: space-between;
    padding : 0.8rem;
}
.likeAndComment{
    display : flex;
}
.like, .comment{
    display : flex;
    margin-right : 0.7rem;
}
.likesCount, .commentsCount { 
    display : flex; justify-content: center; align-items: center;
    margin-right : 0.2rem;
    font-family: 'Poppins';
    font-size : 0.9rem;
    color : rgba(255,255,255,0.681);
}
.postOption{
    font-size: 1.3rem;
    /* margin : 0.8rem 0.5rem 0.8rem 0.5rem; */
    transform : scale(1);
    transition : transform 0.1s ease-out;
    color : rgba(255,255,255,0.681);
    transition : transform 0s ease-out;
}
.postOption:hover{
    cursor: pointer;
    /* font-size: 1.5rem; */    
    transform : scale(1.2);
    color : white;
    transition : transform 0.2s ease-out;
}
