/* header */
.header{
    position : fixed; top:0; left : 0;
    height:3rem;
    width:100%;
    display : flex; align-items: center; justify-content: space-between;
    padding : 0 4rem 0 4rem;
    box-sizing: border-box;
    backdrop-filter: blur(2rem);
    background-color: rgba(24,24,24,0.78);
    z-index : 4;
}
.headerContainer{
}
.userName > span {
    color:white;
}
.userName{
    width: fit-content; font-family: "Work Sans"; display: flex; align-items: center;
}
.userProfilePicContainer{
    width: 2rem; height:2rem;
    border-radius: 50%; overflow: hidden;
    margin-right: 0.5rem;
}
.userProfilePic{
    height:100%; width:100%;
    object-fit: cover;
}
.title > span{
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style:bold;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 0.478rem; /* 0.28rem 0.428rem*/
    position: relative;
    display: flex;
}
.title > span > img {
    margin-right:0.5rem;
}
.title{
}