.filterOptionsContainer{
    width:100%; height : 100%;
    display : flex; 
    /* display: none;  */
    justify-content: center; align-items: center;
    position : relative; left:0; top:0;
    z-index : 1;
    /* transition: opacity 0.2s ease-out; */
    backdrop-filter: blur(1rem);
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.2);
    /* background: linear-gradient(to bottom,rgba(63,63,63,0.5) , rgba(40,40,40,1)); */
    background: linear-gradient(to bottom, rgba(37,40,40,0) 10%, rgba(37,40,40,1));

    /* background: linear-gradient(to bottom,rgba(32, 54, 56, 0.5) , rgb(25, 42, 44)); */
}
.filterOptions{
    display: flex; align-items: center; justify-content:space-between;
    width : 60rem; height : 100%;
    /* background-color: bisque; */
    color : white;
}
.filter {
    /* font-family: 'Poppins'; */
    font-family: "Poiret one"; letter-spacing: 0.1rem; font-weight: 600;
    display: flex; align-items: center;
    cursor: default;
    display: flex;
    /* background-color: grey; */
    height:80%;
    padding : 0 1rem 0 1rem;
    border-radius: 1rem;
}
.filter:hover{
    /* background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.158), rgba(255, 255, 255, 0.237)); */
    background-color: rgba(255,255,255,0.15);
}
.filter:active{
    background-color: rgba(0, 242, 255, 0.15);
}
.statusContainer{
    height:0.7rem; width:0.7rem;
    border-radius: 50%;
    border : 1px solid rgba(255, 255, 255, 0.584);
    margin-left : 0.5rem;
    display: flex; align-items: center; justify-content: center;
}
.dot{
    height:60%; width:60%;
    background-color: #00f2ff;
    border-radius: 50%;
}