.divider{
    height:0;
    border-width: 1px 0 0 0;
    border-style: solid;
    /* border-color: rgba(255,255,255,0.18); */
    margin:auto;
    margin: 0.3rem 0 0.3rem 0;
    background-color: rgba(255,255,255,0);
}

.background{
    background-color: rgba(24,24,24,1);
    margin : 0; padding : 0;
    min-height: 100dvh;
}
.friendsPageContainer{
    position:relative;
    z-index: 0;
    overflow-y: hidden;
}
 
/* header */
.header{
    position : fixed; top:0; left : 0;
    height:3rem;
    width:100%;
    display : flex; align-items: center; justify-content: space-between;
    padding : 0 4rem 0 4rem;
    box-sizing: border-box;
    backdrop-filter: blur(2rem);
    background-color: rgba(24,24,24,0.78);
    z-index : 4;
}
.headerContainer{
}
.userName > span {
    color:white;
}
.userName{
    width: fit-content; font-family: "Work Sans"; display: flex; align-items: center;
}
.userProfilePicContainer{
    width: 2rem; height:2rem;
    border-radius: 50%; overflow: hidden;
    margin-right: 0.5rem;
}
.userProfilePic{
    height:100%; width:100%;
    object-fit: cover;
}
.title > span{
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style:bold;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 0.478rem; /* 0.28rem 0.428rem*/
    position: relative;
    display: flex;
}
.title > span > img {
    margin-right:0.5rem;
}
.title{

}

.body{
    width : 60rem; max-width: 100%;
    margin:auto;
    border-radius: 1rem; overflow: hidden;
}
.preBody{
    height:4rem;
}
.bodyHeader{
    display:flex; justify-content: space-around;
    overflow: hidden;
}
.bodyTabName{
    color: white; padding:1rem;
    background-color: rgba(255,255,255,0.04);
    /* font-family: "Work Sans"; */
    font-family: "Poiret One"; letter-spacing: 0.1rem; font-weight: 600;
    flex-grow: 1; display:flex; justify-content: center;
}
.bodyTabName:not(.selected):hover{ /* NOTE THIS */
    background-color: rgba(0, 242, 255, 0.1);
    cursor:pointer;
    /* background-color: rgba(255,255,255,0.07); */
}
.bodyMain{
    background-color: rgba(255,255,255,0.05);
    /* background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(255, 255, 255, 0.065), rgba(0,0,0,0)); */

    /* background: linear-gradient(to bottom right, rgba(255,255,255,0.06) 0%, rgba(255,255,255,0.05) 100%); */
    height: 75dvh;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.bodyMain::-webkit-scrollbar { /* NOTE THIS */
    width: 0.5rem;
}
.bodyMain::-webkit-scrollbar-track {
    background: transparent;    /* invisible track */
}
.bodyMain::-webkit-scrollbar-thumb {
    background-color: #ffffff30;     /* grey thumb */
    border-radius: 4px;         /* rounded edges */
    border: 2px solid transparent; /* gap around thumb */
}
.bodyMain::-webkit-scrollbar-button {
    display: none;              /* hide arrow buttons */
  }
.selected{
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}