.container{
    background-color: rgba(33,34,34);
    position: fixed;
    bottom:1rem; right:1rem;
    z-index: 1000;
    border-radius: 1rem;
    display: flex; justify-content: center;
    border: 1px solid rgba(255,255,255,0.681);
    padding: 0.3rem 2rem;
}
.content{
    color:white;
    /* font-family: 'Open Sans'; */
    font-family: 'Work Sans';
}