.postDetailsContainer{
    position : fixed;
    display: flex; justify-content: center; align-items: center;
    /* backdrop-filter: blur(1rem); */
    z-index: 1;
    top:0; right:0;
    width:100dvw; height:100dvh;
    /* background-color:rgba(0,0,0,0.2); */
    backdrop-filter: blur(2rem);
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.063) 50%, rgba(255, 255, 255, 0.025)); */
}
.postDetailsMain{
    /* background-color: rgba(0, 0, 0, 0.732); */
    background-color: #292c2cba;
    height:35rem; width:65rem;
    backdrop-filter: blur(5rem);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.17);
    display:flex;
}
.picture > img {
    height : 35rem; width:35re;
}

.closeIcon{
    color:white;
    position:absolute;
    right:0.6rem; top:0.6rem;
    cursor:pointer;
}
.closeIcon:hover{
    transform:scale(1.1);
}
.closeIcon:active{
    color:rgba(0, 242, 255, 1);
}

.postInfo{
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
    /* scrollbar-width:thin; */
}
.postInfo::-webkit-scrollbar{
    /* width:2rem;
    background-color: rgba(0,0,0,0); */
}
.postInfo::-webkit-scrollbar-track{
    color: bisque;
}
.postInfo::-webkit-scrollbar-button{
    color: aqua;
}
.postInfoHeader{
    color: white;
    font-size: 2rem;
}