.postDetailsContainer{
    position : fixed;
    display: flex; justify-content: center; align-items: center;
    z-index: 3;
    top:0; right:0;
    width:100dvw; height:100dvh;
    backdrop-filter: blur(2rem);
}
.postDetailsMain{
    /* background-color: rgba(0, 0, 0, 0.732); */
    /* background-color: #292c2cba; */

    /* height:35rem; width:65rem; */

    height:39rem; width:69rem;
    backdrop-filter:brightness(0);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.17);
    /* background-color : rgb(41 44 44 / 79%); */
    background-color: rgba(41,44,44,0.69);
    display:flex;
    border-radius: 1rem;
    /* overflow: hidden; */
    position: relative;
}
.picture{
    position:relative; z-index: 2;
}
.picture > img {
    height : 39rem; width:39rem;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
}

.navButtons{
    color:white;
    position:absolute;
    right:-3rem; top:0rem;
    display: flex; flex-direction: column;
}
.navButton{
    cursor:pointer;
    height:2.5rem; width:2.5rem;
    display: flex; justify-content: center; align-items: center;
    border-radius: 50%;
    background-color: rgba(41,44,44,0.69);
    margin-bottom:1rem;
}
.navButton:hover{
    transform:scale(1.1);
}
.navButton:active{
    color:var(--primary-color);
}
.bookmarked{
    color:var(--primary-color);
}
.notBookmarked{
    color:white;
}

.postInfo{
    height: 100%; width:100%;
    /* scrollbar-width:thin; */
    overflow : scroll;
    padding:1rem;
    display: flex; flex-direction: column;
    box-sizing: border-box;
    position:relative; z-index: 2;
}
.postInfo::-webkit-scrollbar{
    /* width:2rem;
    background-color: rgba(0,0,0,0); */
    display:none;
}
/* .postInfo::-webkit-scrollbar-track{
    color: bisque;
}
.postInfo::-webkit-scrollbar-button{
    color: aqua;
} */
.postInfoHeader{
    color: white;
    font-size: 2rem;
    width:100%; height:2rem;
    display:flex;
    /* padding:1rem; */
    align-items: center;
}
.postOwnerPic{
    border-radius:50%;
    height:2rem; width:2rem;
    margin-right:0.5rem;
}
.postOwnerDetails{
    display: flex;
    font-size:1rem;
    align-items:center;
}
.postOwnerDetails{
    font-family: 'Work Sans';
}
.dot{
    height:0.3rem;width:0.3rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.395);
    margin:0 0.6rem 0 0.6rem;
}
.postOwnerFriendType{
    font-size: 0.8rem; font-family: 'Poppins';
    /* color: rgba(255, 255, 255, 0.681); */
    color:  hsla(0, 0%, 100%, 0.681);
    letter-spacing: 0.1rem;
}
.divider{
    height:0; width:100%;
    border-width: 1px 0 0 0;
    border-color: rgba(255, 255, 255, 0.056);
    border-style: solid;
    margin: 1rem 0 1rem 0;
}

.postInfoBody{
    width: 100%;
}
.postDescriptionContainer{
    max-height: 10rem;
    /* background-color : rgb(41 44 44 / 79%); */
    color : white;

    /* font-family: 'Poiret One'; */
    font-family: 'Open Sans'; font-weight: 300;
    /* font-family: "Source Sans 3"; letter-spacing: 0.05rem; */
    /* font-family: 'Poppins'; font-size: 0.9rem; */
    /* font-family: 'Work Sans'; */
}

.comments{
    /* height:100%; */
    width:100%;
    /* overflow-y: scroll; */
    box-shadow: 0 0 0.3rem 0 rgba(97,97,97,0.08)
}
.noComments{
    font-family : 'Work Sans'; font-size:0.9rem;
    color: rgba(255,255,255,0.681);
    text-align: center;
}
.comments::-webkit-scrollbar{
    display: none;
}

.userActionsContainer{
}
.likesAndCommentsNumbers{
    display: flex;
    margin-bottom: 1rem;
}
.number{
    /* color:#00f2ff; */
    color:rgba(255,255,255,0.681);
    margin-right:1rem;
    /* text-shadow: 0 0 1rem #00f2  ff8a; */
}
.number > span {
    /* font-family: "Poiret One"; letter-spacing: 0.1rem; */
    font-size: 0.9rem;
    /* font-family: "Open Sans"; */
    /* font-family: "Source Sans 3"; */
    /* font-family: "Poppins"; */
    font-family: "Work Sans"; font-weight: 300;
}
.numberIcon{
    margin-right : 0.5rem; font-size: 0.9rem;
}
.actions{
    display:flex; justify-content: space-around; align-items: center;
}
.thumbsUpHollow{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-right:0.5rem;
    transform:scale(1);
    transition: transform 0.2s ease-out;
}
.thumbsUpHollow:hover{
    transform: scale(1.1);
}
.commentInput{
    flex-grow: 1;
    background-color: rgba(24,24,24,0.3);
    height:1rem; padding: 1rem;
    border : none;
    /* border-radius: 1rem 0 0 1rem; */
    color:rgba(255, 255, 255);
    resize:none;
    border-radius:1.5rem;
    font-family: "Open Sans";
}
.commentInput::-webkit-scrollbar{
    display: none;
}
.commentInput::placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-family: "Work Sans";
}
.commentInput:focus{
    /* outline: 1px solid rgba(0, 242, 255, 1); */
    outline: 2px solid rgba(255, 255, 255, 0.348);
}
.postCommentButton{
    color:white;
    font-family: "Work Sans";
    margin-left: 0.5rem;
    background-color: var(--cta-button-color);
    padding: 0.5rem;
    border-radius: 1rem;
}
.postCommentButton:hover{
    transform:scale(1.1);
    Cursor: pointer;
}