.postDetailsContainer{
    position : fixed;
    display: flex; justify-content: center; align-items: center;
    z-index: 1;
    top:0; right:0;
    width:100dvw; height:100dvh;
    backdrop-filter: blur(2rem);
}
.postDetailsMain{
    /* background-color: rgba(0, 0, 0, 0.732); */
    /* background-color: #292c2cba; */

    /* height:35rem; width:65rem; */

    height:39rem; width:69rem;
    backdrop-filter:brightness(0);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.17);
    /* background-color : rgb(41 44 44 / 79%); */
    background-color: rgba(41,44,44,0.69);
    display:flex;
    border-radius: 1rem;
    /* overflow: hidden; */
    position: relative;
}
.picture{
    position:relative; z-index: 2;
}
.picture > img {
    height : 39rem; width:39rem;
    border-radius: 1rem 0 0 1rem;
}

.navButtons{
    color:white;
    position:absolute;
    right:-2.5rem; top:0rem;
    display: flex; flex-direction: column;
}
.navButton{
    cursor:pointer;
    height:2rem; width:2rem;
    display: flex; justify-content: center; align-items: center;
    border-radius: 50%;
    background-color: rgba(41,44,44,0.69);
    margin-bottom:1rem;
}
.navButton:hover{
    transform:scale(1.1);
}
.navButton:active{
    color:rgba(0, 242, 255, 1);
}

.postInfo{
    height: 100%;
    /* scrollbar-width:thin; */
    overflow : scroll;
    padding:1rem;
    display: flex; flex-direction: column;
    box-sizing: border-box;
    position:relative; z-index: 2;
}
.postInfo::-webkit-scrollbar{
    /* width:2rem;
    background-color: rgba(0,0,0,0); */
    display:none;
}
.postInfo::-webkit-scrollbar-track{
    color: bisque;
}
.postInfo::-webkit-scrollbar-button{
    color: aqua;
}
.postInfoHeader{
    color: white;
    font-size: 2rem;
    width:100%; height:2rem;
    display:flex;
    /* padding:1rem; */
    align-items: center;
}
.postOwnerPic{
    border-radius:50%;
    height:2rem; width:2rem;
    margin-right:0.5rem;
}
.postOwnerDetails{
    display: flex;
    font-size:1rem;
    align-items:center;
}
.postOwnerDetails{
    font-family: 'Work Sans';
}
.dot{
    height:0.3rem;width:0.3rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.395);
    margin:0 0.6rem 0 0.6rem;
}
.postOwnerFriendType{
    font-size: 0.8rem; font-family: 'Poppins';
    /* color: rgba(255, 255, 255, 0.681); */
    color:  hsla(0, 0%, 100%, 0.681);
    letter-spacing: 0.1rem;
}
.divider{
    height:0; width:100%;
    border-width: 1px 0 0 0;
    border-color: rgba(255, 255, 255, 0.056);
    border-style: solid;
    margin: 1rem 0 1rem 0;
}

.postInfoBody{
    width: 100%;
}
.postDescriptionContainer{
    max-height: 10rem;
    /* background-color : rgb(41 44 44 / 79%); */
    color : white;

    /* font-family: 'Poiret One'; */
    font-family: 'Open Sans'; font-weight: 300;
    /* font-family: "Source Sans 3"; letter-spacing: 0.05rem; */
    /* font-family: 'Poppins'; font-size: 0.9rem; */
    /* font-family: 'Work Sans'; */
}

.comments{
    /* height:100%; */
    width:100%;
    /* overflow-y: scroll; */
}
.comments::-webkit-scrollbar{
    display: none;
}

/* .userActionsContainer{
    position:absolute;
    bottom:0; right:0;
    height:4rem; width:30rem;
    background-color: rgba(0, 255, 170, 0);
    border-radius: 0 0 1rem 0;
    backdrop-filter: blur(1rem);
    z-index: 3;
} */